extends layouts/login-layout.pug

block content
    .loginContainer
        h1 Login
        form(method="post")

            p.errorMessage #{errorMessage}    

            input(type="text", name="logUsername", placeholder="Nome de usuário ou email", required="")
            input(type="password", name="logPassword", placeholder="Senha", required="")
            input(type="submit", value="Login")
        a(href="/register") Precisa criar uma conta? Registre-se aqui.